.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height:600px;
  margin-top: 18%;
}

.row {
  display: flex;
  width: 100%;
}
